.link {
    text-decoration: none;
    margin-bottom: 24px;
}

.CardContainer {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 24px;
    cursor: pointer;
    border: 2px solid transparent;
}

.Yellow {
    border-color: #FCD562;
}

.CardContainer:last-child {
    margin-bottom: 0;
}

.VideoCard {
    width: calc(25% - 16px);
    border-radius: 6px;
    box-shadow: 2px 2px 4px #ccc;
    margin: 8px;
    text-decoration: none;
}

.Thumbnail {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.Title {
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}