body {
  background-color: #FEE9EA;
}

.App {
  margin: 0;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  padding: 4% 10%;
  border-radius: 8px;
}

.left {
  width: 65%;
  background-color: #fff;
  border-radius: 8px 0 0 8px;
}

.right {
  border-left: 2px solid #aaa;
  width: 35%;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}
